{% extends 'baseHome.html' %}

{% block title %}Cotizacion Rapida{% endblock %}

{% load static %}

{% block content %}
<!-- Hero -->
<section class="section-header bg-primary text-white pt-6 pb-4">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h1 class="display-3 fw-normal my-4">
          ¡Encuentra la inspiración que estás buscando, déjanos sorprenderte con opciones únicas y emocionantes para tu
          próximo gran evento!
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End of Hero section -->
<!-- Quote section -->
<section class="section section-sm bg-primary-app">
  <div class="container mt-5">
    <h1>Cotización Rapida</h1>
    <h5>Tiene en mente algo pero no sabe que hacer?, no se preocupe para eso estamos!</h5>
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="James Smith" id="nombre" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
      </div>
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" placeholder="123456789" id="telefono" required>
      </div>
      <div class="mb-3">
        <label for="tipo-evento" class="form-label">Tipo de Evento</label>
        <select class="form-select" id="tipo-evento" required>
          <option value="">Seleccionar</option>
          <option value="">Boda</option>
          <option value="">Cumpleaños</option>
          <option value="">Evento Corporativo</option>
          <option value="">Otro</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="zona-evento" class="form-label">Estado del Evento</label>
        <select class="form-select" id="zona-evento" required>
          <option value="">Seleccionar</option>
          <option value="">CDMX</option>
          <option value="">Chiapas</option>
          <option value="">Tabasco</option>
          <option value="">Otro</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="fecha-evento" class="form-label">Fecha del Evento</label>
        <input type="date" class="form-control" id="fecha-evento" required>
      </div>
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" placeholder="Tell us more about your event" id="mensaje" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar Cotización</button>
    </form>
  </div>
</section>
<!-- end quote section -->
{% endblock %}