{% extends 'baseHome.html' %}

{% block title %}Inicio{% endblock %}

{% load static %}

{% block content %}
<section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-7 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="fw-bolder display-2">CHANDELIER</h1>
                <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
                    ¡Descubre un mundo de lugares extraordinarios!
                    <br>
                    Celebra momentos inolvidables con nosotros.
                </h2>
                <!-- Button Modal -->
                <div class="d-flex justify-content-center align-items-center mb-5">
                    <a href="#get-start" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="d-none d-md-inline">Empezar</span>
                    </a>
                    <a href="#services" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">
                        <span class="d-none d-md-inline">Servicios</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
        <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
            <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
        </svg>
    </figure>
</section>

<!-- Places Section -->
<section class="section section-sm" id="get-start">
    <div class="container">
        <div class="row">
            <h2 class="">Lugares para eventos por zonas</h2>
            <h6 class="">Seleccione una zona para empezar a explorar.</h6>
        </div>

        <div class="row">
            <!-- <div class="col-12">
                <div class="d-flex flex-row overflow-auto">

                    <div class="col-2 p-1">
                        <div class="text-center">
                            <a href="#places_id">
                                <img src="{% static 'img/sections-mockup.jpg' %}" class="card-img-top rounded-circle" alt="picture title" />
                                <div class="card-body">
                                    <h5 class="card-title">Location Name</h5>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div> -->
            <div class="container">
                <div class="d-flex flex-row overflow-auto">
                  <div class="col-3 text-center">
                    <a href="{% url 'locationHome' 1 %}" class="list-group-item list-group-item-action">
                        <img src="{% static 'img/pages/form-image.jpg' %}" class="card-img-top rounded-circle" alt="picture">
                        <h5 class="card-title p-3">Nombre de la Zona</h5>
                    </a>
                  </div>
                  <div class="col-3 text-center">
                    <a href="{% url 'locationHome' 1 %}" class="list-group-item list-group-item-action">
                        <img src="{% static 'img/pages/form-image.jpg' %}" class="card-img-top rounded-circle" alt="picture">
                        <h5 class="card-title">Nombre de la Zona</h5>
                    </a>
                  </div>
                  <div class="col-3 text-center">
                    <a href="{% url 'locationHome' 1 %}" class="list-group-item list-group-item-action">
                        <img src="{% static 'img/pages/form-image.jpg' %}" class="card-img-top rounded-circle" alt="picture">
                        <h5 class="card-title">Nombre de la Zona</h5>
                    </a>
                  </div>
                  <div class="col-3 text-center">
                    <a href="{% url 'locationHome' 1 %}" class="list-group-item list-group-item-action">
                        <img src="{% static 'img/pages/form-image.jpg' %}" class="card-img-top rounded-circle" alt="picture">
                        <h5 class="card-title">Nombre de la Zona</h5>
                    </a>
                  </div>
                  <div class="col-3 text-center">
                    <a href="{% url 'locationHome' 1 %}" class="list-group-item list-group-item-action">
                        <img src="{% static 'img/pages/form-image.jpg' %}" class="card-img-top rounded-circle" alt="picture">
                        <h5 class="card-title">Nombre de la Zona</h5>
                    </a>
                  </div>
                  <!-- Agrega más opciones si es necesario -->
                </div>
              </div>
              
        </div>

    </div>
</section>

<!-- Services Section -->
<section class="section section-sm" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Nuestro servicios</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis praesentium
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 service-item">
                <h4 class="service-title">Cotizacion personalizada</h4>
                <p class="service-description">
                    Con nuestro sitio web, puedes ingresar los detalles de tu evento, con esta informacion, se te
                    proporcionará una cotización personalizada basada en los precios y servicios de los proveedores de
                    lugares asociados.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <h4 class="service-title">Busqueda y visualizacion de lugares</h4>
                <p class="service-description">
                    Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat tarad limino ata
                </p>
            </div>
            <div class="col-lg-4 col-md-6 service-item">
                <h4 class="service-title">Sed ut perspiciatis</h4>
                <p class="service-description">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->

<!-- places Section -->
<section class="section section-sm">
    <div class="container">
        <h2>Descubra todos los lugares que Chandelier tiene para ofrecer!</h2>
        <div class="album">
            <div class="pt-4 pb-4">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

                    <div class="col">
                        <div class="card shadow-hover">
                            <img src="{% static 'img/signature.svg' %}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <h6 class="card-subtitle">Ubicacion</h6>
                                <p class="card-text">
                                    <b>$</b> <small>Precio</small> | <span class="fas fa-user-circle"></span>
                                    <small>Cupo</small>
                                </p>
                                <a href="{% url 'locationInfoHome' 1 %}" class="btn btn-primary">Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-hover">
                            <img src="{% static 'img/signature.svg' %}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <h6 class="card-subtitle">Ubicacion</h6>
                                <p class="card-text">
                                    <b>$</b> <small>Precio</small> | <span class="fas fa-user-circle"></span>
                                    <small>Cupo</small>
                                </p>
                                <a href="{% url 'locationInfoHome' 1 %}" class="btn btn-primary">Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-hover">
                            <img src="{% static 'img/signature.svg' %}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <h6 class="card-subtitle">Ubicacion</h6>
                                <p class="card-text">
                                    <b>$</b> <small>Precio</small> | <span class="fas fa-user-circle"></span>
                                    <small>Cupo</small>
                                </p>
                                <a href="{% url 'locationInfoHome' 1 %}" class="btn btn-primary">Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-hover">
                            <img src="{% static 'img/signature.svg' %}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <h6 class="card-subtitle">Ubicacion</h6>
                                <p class="card-text">
                                    <b>$</b> <small>Precio</small> | <span class="fas fa-user-circle"></span>
                                    <small>Cupo</small>
                                </p>
                                <a href="{% url 'locationInfoHome' 1 %}" class="btn btn-primary">Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-hover">
                            <img src="{% static 'img/signature.svg' %}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <h6 class="card-subtitle">Ubicacion</h6>
                                <p class="card-text">
                                    <b>$</b> <small>Precio</small> | <span class="fas fa-user-circle"></span>
                                    <small>Cupo</small>
                                </p>
                                <a href="{% url 'locationInfoHome' 1 %}" class="btn btn-primary">Mas informacion</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-hover">
                            <img src="{% static 'img/signature.svg' %}" class="card-img-top" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Nombre</h5>
                                <h6 class="card-subtitle">Ubicacion</h6>
                                <p class="card-text">
                                    <b>$</b> <small>Precio</small> | <span class="fas fa-user-circle"></span>
                                    <small>Cupo</small>
                                </p>
                                <a href="{% url 'locationInfoHome' 1 %}" class="btn btn-primary">Mas informacion</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'locationHome' 1 %}" class="btn btn-outline-primary">Ver las 000 ubicaciones -></a>
            </div>
        </div>
    </div>
</section>
<!-- End place sections -->

<!-- State section -->
<section class="section section-sm">
    <div class="container">
        <div class="row">
            <h2>Total de ubicaciones para eventos.</h2>
        </div>
        <div class="row">
            <ul class="">
                <li class="p-2 d-flex justify-content-between shadow-hover">
                    <a href="">Zona</a><small>000</small>
                </li>
                <li class="p-2 d-flex justify-content-between shadow-hover">
                    <a href="">Zona</a><small>000</small>
                </li>
                <li class="p-2 d-flex justify-content-between shadow-hover">
                    <a href="">Zona</a><small>000</small>
                </li>
                <li class="p-2 d-flex justify-content-between shadow-hover">
                    <a href="">Zona</a><small>000</small>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End states section -->
{% endblock %}