{% extends 'baseHome.html' %}

{% block title %}Cotizacion{% endblock %}

{% load static %}

{% block content %}
<!-- Hero -->
<section class="section-header bg-primary text-white pt-6 pb-4"></section>
<!-- End of Hero section -->

<!-- quote Section -->
<section class="section section-sm">
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center mb-5">Ayúdanos a llenar el siguiente formulario.</h2>

        <form action="#" method="POST">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="phone" class="form-label">Telefono</label>
                    <input type="phone" class="form-control" id="phone" name="phone" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="cupo" class="form-label">Cupo</label>
                    <input type="number" class="form-control" id="cupo" name="cupo" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="fechaEvento" class="form-label">Fecha del Evento</label>
                    <input type="date" class="form-control" id="fechaEvento" name="fechaEvento" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="horaInicio" class="form-label">Hora de Inicio</label>
                    <input type="time" class="form-control" id="horaInicio" name="horaInicio" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="horaInicio" class="form-label">Hora de Salida</label>
                    <input type="time" class="form-control" id="horaSalida" name="horaSalida" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje o Datalles Extras</label>
                <textarea class="form-control" placeholder="Desea cambiar la tematica?, quiere conocer si hay restricciones?, desea pedir opciones especificas?, aqui puede consultarnos!" id="mensaje" name="mensaje" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <p class="fw-bold">¿Cómo desea recibir la confirmación?</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="telefono" name="telefono">
                    <label class="form-check-label" for="telefono">Teléfono (<small>atraves de un mensaje de
                            whatsapp</small>)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="correo" name="correo" checked>
                    <label class="form-check-label" for="correo">Correo Electrónico (<small>atraves de un documento
                            .pdf</small>)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="llamada" name="llamada">
                    <label class="form-check-label" for="llamada">Llamada (<small>atraves de una llamada a su
                            numero</small>)</label>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar Cotización</button>
            </div>
        </form>
            </div>
        </div>
    </div>
</section>
<!-- end quote section -->
{% endblock %}